@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(../font/Ubuntu-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(../font/Ubuntu-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(../font/Ubuntu-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(../font/Ubuntu-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(../font/Ubuntu-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(../font/Ubuntu-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(../font/Ubuntu-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(../font/Ubuntu-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Rochester';
    src: url(../font/Rochester-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}