/***************** FONT *******************/

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(../font/Ubuntu-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(../font/Ubuntu-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(../font/Ubuntu-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(../font/Ubuntu-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(../font/Ubuntu-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(../font/Ubuntu-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(../font/Ubuntu-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(../font/Ubuntu-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Rochester';
    src: url(../font/Rochester-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

/***************** GLOBAL *******************/

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}

* {
	box-sizing : border-box;
}

html, body {
	margin:0;
	padding:0;
    scroll-behavior: smooth;
}

h1,h2{
    font-family: 'Rochester';
    color:#274054;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #fbfcfe;
}

/***************** HEADER *******************/

header{
    background-color: #323232;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

main{
    min-height: 100vh;
}

.top{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'rochester';
    color: #fbfcfe;
    padding-top: 10px;
    font-weight: 100;
    font-size: 30px;
}

@media screen and (min-width: 768px) {
    .top{
        flex-direction: row;
        justify-content: space-around;
        font-size: 40px;
    }
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
}
nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color:#fbfcfe;
    font-size: 20px;
}

/************* MAIN **************/

.computer{
    background: url('../img/computer.jpg') no-repeat top;
    background-size: 100%;
	height: 300px;
}

@media screen and (min-width: 768px) {
    .computer {
        height: 500px;
    }
}

@media screen and (min-width: 992px) {
    .computer {
        height: 700px;
    }
}

@media screen and (min-width: 1200px) {
    .computer {
        height: 900px;
    }
}

/************* ANCRES **************/

.marker {
  position: absolute;
  top: -120px;
}

/************* CARDS **************/

.card{
    border: none;
    background-color: transparent;
}

.presentation .card img{
    max-width: 200px;
    margin: auto;
    object-fit: cover;
}

.btn-outline-primary{
    color:#274054;
    border: 1px solid #274054;
}